{% from "fieldset/macro.njk" import identFieldset %}

{% call identFieldset({
	attributes: { 'style': 'background:yellow; '},
	legend: {
		text: "BEES?"
	}
}) %}

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam officiis culpa excepturi consequatur saepe ut, iusto facere provident, consequuntur corporis, molestias, ab repellat. A dolor ratione asperiores commodi, enim soluta.</p>
<p>Deserunt, accusantium dicta. Corporis, asperiores illo? Consectetur a, voluptatum doloribus, rem consequatur maiores quas beatae assumenda, eligendi ea harum odio veniam itaque totam porro dignissimos ducimus libero non laboriosam similique.</p>
<p>Voluptatem unde ipsum dicta veniam reprehenderit similique tempore repellat inventore ad aliquid maxime tenetur voluptate officia officiis, aut error magnam esse soluta nihil sed optio libero recusandae. Sunt, odit soluta.</p>
<p>Molestias voluptas quam, neque provident architecto perferendis eaque, minus ad amet quibusdam nisi tempore harum, error modi dolorem quae mollitia dolores aliquam sapiente minima repudiandae ea! Totam, porro rerum voluptatum.</p>
<p>Enim repudiandae officia excepturi accusantium explicabo. Mollitia impedit doloribus error consectetur, quidem placeat, molestiae distinctio libero culpa sed iure quo ipsam facilis in repellat facere sapiente a odit molestias eos!</p>
<p>Magnam odit beatae minima quae officia pariatur ex cupiditate illum est, quasi fugit eligendi minus quia molestiae! Obcaecati quibusdam enim, harum, reprehenderit, iste officiis possimus nihil saepe culpa, laborum maxime.</p>
<p>Temporibus excepturi, non eveniet repellendus, voluptas eos vero veritatis mollitia quam nam vel fugit, blanditiis iste fugiat libero ducimus magnam, obcaecati illo asperiores deleniti cum! Cupiditate sed itaque, distinctio accusamus!</p>
<p>Cupiditate suscipit harum nemo porro placeat repellendus minus sit nesciunt perferendis accusamus, ducimus, soluta quod, ullam autem cum quidem voluptatibus? Totam at aperiam voluptatum earum laborum, minima beatae perferendis sequi!</p>
<p>Ut deserunt neque quas quaerat facilis in eius, porro sequi mollitia dignissimos maxime quibusdam voluptate ducimus earum, nulla fuga commodi eos, omnis laudantium nesciunt necessitatibus rem esse quo molestiae! Facere!</p>
<p>Sapiente laudantium debitis ullam nihil, dolorem atque culpa hic, dolor, illum quos impedit. Laudantium suscipit blanditiis, doloribus quia tempore sunt. Mollitia qui obcaecati saepe praesentium sunt vero repellat minus eligendi.</p>

{% endcall %}