@use "tokens";

// Focus style.
@mixin focus-ring {
	outline: 2px solid tokens.$color-a11y;
	outline-offset: 2px;
	html[data-whatintent="mouse"] & {
		outline: none;
	}
}

// Hides text from visible rendering, whilst keeping it accessible to assistive technologies.
@mixin hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
}
