/**
 * Media query management. Hat tip to Tim Knight.
 * https://medium.com/developing-with-sass/refactoring-my-simple-sass-breakpoint-mixin-71205dd6badd
 * @param {string}  $min The name of the breakpoint (and up!) to apply styles to.
 * @param {string}  $max The name of the breakpoint (and down!) to apply styles to.
 */

@mixin mq($min, $max: false) {
	$query: "";
	@if $min {
		$query: append($query, "(min-width: #{map-get($map, $min)})");
	}
	@if $max {
		@if $min and $max {
			$query: append($query, " and ");
		}
		$query: append($query, "(max-width: #{map-get($map, $max) - 1px})");
	}
	@media screen and #{$query} {
		@content;
	}
}

/**
 * Print stylesheet handler.
 */

@mixin print {
	@media only print {
		@content; 
	}
}

/**
 * Dark mode style handler.
 * This is abstracted out in case we want to modify it to use a class/JS toggle
 * at some point.
 */

@mixin dark-mode {
	@media (prefers-color-scheme: dark) {
		@content;
	}
}