@use "a11y";

// Button style reset
@mixin button {
	border: none;
	border-radius: 0;
	color: inherit;
	background: none;
	font: inherit;
	cursor: pointer;
	&:focus {
		@include a11y.focus-ring;
	}
}

// List style reset
@mixin list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

// Remove arrow from details/summary elements
@mixin details-summary {
	> summary {
		list-style-type: none;
		&:focus {
			@include a11y.focus-ring;
		}
	}
	> summary::-webkit-details-marker {
		display: none;
	}
}
