@use "tokens";

// Default prosaic link style
@mixin default-link(
	$color: tokens.$color-highlight,
	$hoverColor: tokens.$color-highlight
) {
	@include default-link--initial($color);
	&:hover,
	&:active {
		@include default-link--active($hoverColor);
	}
}

@mixin default-link--initial($color) {
	color: $color;
	text-decoration: none;
}

@mixin default-link--active($hoverColor) {
	color: $hoverColor;
	text-decoration: underline;
	text-decoration-skip: skip;
	text-decoration-skip-ink: auto;
}

// Extend this link to fill the current stacking context
@mixin extend-link {
	&::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}
